.DrawerToggle {
  align-items: center;
  height: 100%;
  flex-flow: row;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 auto;

  .BottomLink {
    padding: 0 33px;

    .active svg {
      color: #cbb26a !important;
    }

    a {
      svg {
        font-size: 2em;
        &:hover {
          color: #cbb26a;
        }
      }
    }
  }
}

.Menu:hover {
  color: #cbb26a;
}

@media (min-width: 802px) {
  .DrawerToggle {
    display: none;
  }
}

@media (max-width: 627px) {
  .DrawerToggle .BottomLink {
    padding: 0 30px;
  }
}

@media (max-width: 591px) {
  .DrawerToggle .BottomLink {
    padding: 0 25px;
  }
}

@media (max-width: 531px) {
  .DrawerToggle .BottomLink {
    padding: 0 20px;
  }
}

@media (max-width: 472px) {
  .DrawerToggle .BottomLink {
    padding: 0 15px;
  }
}

@media (max-width: 411px) {
  .DrawerToggle .BottomLink {
    padding: 0 10px;
  }
}
@media (max-width: 290px) {
  .DrawerToggle {
    margin: auto;
  }
}
