.displayText {
  font-family: ysans-std-mondrian, sans-serif;
  font-size: 100px;
  margin: unset;
  height: 98px;
  justify-content: center;
  justify-items: center;
  vertical-align: middle;
  display: flex;
}
@media (max-width: 1243px) {
  .displayText {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 680px) {
  .displayText {
    font-size: 80px;
    height: fit-content;
  }
}

@media (max-width: 550px) {
  .displayText {
    font-size: 50px;
    height: fit-content;
  }
}
