.NavBar {
  height: 70px;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  .div {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    nav {
      height: 100%;
      margin: 0 auto;
    }
  }
}

.MobileOnly {
  display: none;
}

@media (max-width: 635px) {
  .DeskTopOnly {
    display: none;
  }

  .MobileOnly {
    display: inline-block;
  }

  .NavBar {
    top: unset;
    bottom: 0;
    -webkit-backdrop-filter: unset;
    backdrop-filter: unset;
    width: auto;
  }
}

@media (max-width: 290px) {
  .div {
    display: flex;
    flex-direction: column;
  }
}
