.Items {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Mulish";
  font-weight: 800;
  font-size: 20px;
  width: 130px;
  text-decoration: none;
  text-align: center;
  height: 25px;
  display: inline-block;
  position: relative;
  &:hover {
    color: #fff !important;
    text-decoration: none !important;
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #cbb26a;
    transition: transform 0.5s ease-out;
    transform-origin: bottom right;
  }
  &.active {
    color: white !important;
    border-bottom: 1px solid #cbb26a;
    &:hover::after {
      transform-origin: unset;
    }

    &::after {
      height: 0px;
      transition: none;
      transform-origin: none;
    }
  }
}

@media (max-width: 801px) {
  li.Items {
    padding: 10px;
    width: 100%;
    a {
      font-size: xx-large;
      text-align: center;
      width: 100%;
    }
  }
}
