.main {
  max-width: calc(100% - 120px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.LinksContainer {
  position: fixed;
  bottom: 0;
  z-index: 50;
  .Links {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    a {
      padding-bottom: 10px;
      &:hover {
        color: white !important;
      }
    }
    &:after {
      content: "";
      display: block;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }
  }
}
