.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  .hello {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .link {
    text-align: center;
    height: 20px;
    display: block;
    margin: 20px auto;

    a {
      font-family: "Mulish";
      font-weight: 800;
      font-size: 20px;
      width: 130px;
      text-decoration: none;
      text-align: center;
      height: 25px;
      &:hover {
        color: #fff !important;
        text-decoration: none !important;
        border-bottom: 1px solid #cbb26a;
        }
      }
    }
  }

.svg {
  width: 640px;
  height: 119px;
  text {
    &.Text {
      font-family: "ysans-std-mondrian", sans-serif;
      animation: stroke 4s;
      animation-fill-mode: forwards;
      stroke-width: 1;
      stroke: #365fa0;
      font-size: 100px;
    }
  }
}

.fadeIn {
  animation: 2s fadeIn;
  visibility: hidden;
  animation-fill-mode: forwards;
  margin: unset;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes stroke {
  0% {
    fill: transparent;
    stroke: #cbb26a;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 25%;
    stroke-width: 2;
  }

  70% {
    fill: transparent;
    stroke: #cbb26a;
    stroke-width: 2;
  }

  80% {
    fill: transparent;
    stroke: #cbb26a;
    stroke-width: 2;
  }

  to {
    fill: #cbb26a;
    stroke: #edf5fd;
    stroke-dashoffset: -25%;
    stroke-dasharray: 25% 0;
    stroke-width: 0;
  }
}

@media (max-width: 1243px) {
  .container .hello {
    flex-direction: column;
  }
}

@media (max-width: 680px) {
  .svg {
    height: 82px;
    text.Text {
      font-size: 80px;
    }
  }
}

@media (max-width: 550px) {
  .link {
    .navList {
      flex-flow: column !important;
      .Items {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  .svg {
    height: 52px;
    text.Text {
      font-size: 50px;
    }
  }
}
