.Main {
  margin-top: 150px;
  padding-bottom: 150px;

  .line {
    margin: 50px 0;
    background: linear-gradient(
      to left,
      #000,
      #cbb26a 25%,
      #cbb26a 75%,
      #000 100%
    );
    height: 1px;
    border: 0;
  }
}

.TopContainer {
  padding: 0 20px;
}

.Container {
  padding: 0 20px;
}

.selfie {
  width: 100%;
  height: fit-content;
  border-radius: 20px;
}

.skillIcon {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.iconCenter {
  text-align: center;
}

.AboutMe {
  flex-flow: column;
  margin: auto;
}

.MoreAboutMe {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-left: 0;
}

.AboutMe,
.MoreAboutMe {
  p {
    font-size: larger;
  }
}

.row {
  color: white;
}

.Picture {
  padding-right: 0;
}

.MoreAboutMePic {
  width: 100%;
  height: 100%;
}

@media (max-width: 899px) {
  .selfie {
    width: 50%;
    height: fit-content;
    border-radius: 20px;
  }
}

@media (max-width: 959px) {
  .AboutMe,
  .MoreAboutMe {
    text-align: center;
  }
  .Picture {
    text-align: center;
  }
  .Container {
    padding: unset;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
